# Backend
.venv
__pycache__
backend/.env
backend/.coverage
backend/.env.*
!backend/.env.example

# Mobile
mobile/node_modules
mobile/coverage
mobile/.env
mobile/.expo
mobile/ios
mobile/android
mobile/.env.*
!mobile/.env.example